<!DOCTYPE html>
<!-- This is the sign in page of this multiuser blog. Acts as an entry point for the blog -->
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Blog: Climate Change | Sign In</title>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cuprum:700" type="text/css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700" type="text/css">
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <link rel="stylesheet" href="css/style.css">
      <script type="text/javascript" src="js/jquery-2.2.4.min.js"></script>
      <script type="text/javascript" src="js/bootstrap.min.js"></script>
   </head>
   <body>
      <header class="container">
         <div class="row row-bg-color margin-start">
            <div class="col-md-12 header-text">
               My Blog
            </div>
         </div>
      </header>
      <section class="container">
         <div class="row">
            <div class="col-md-7 col-sm-12">
               <img src="img/homepage_main-image.jpg" alt="Image that shows that this blog is related to climate change"
               class="img-responsive align-item item-htlimit"/>
            </div>
            <div class="col-md-4 col-md-offset-1 col-sm-12">
               <form class="form-horizontal" action="#" method="post">
                  <p class="margin-form-title form-text form-title-text">
                     Sign In
                  </p>
                  {% if message != None %}
                     <div class="alert alert-success alert-text" role="alert">
                        {{message}}
                     </div>
                  {% endif %}
                  <div class="form-group">
                     <div class="col-xs-12">
                        {% if username_error == None %}
                           <input type="text"
                                  class="form-control form-body-text textbox-size"
                                  name="username"
                                  placeholder="Username"
                                  maxlength="50"
                                  value="{{username}}">
                        {% else %}
                           <div class="error-text">
                              {{username_error}}
                           </div>
                           <input type="text"
                                  class="form-control form-body-text textbox-size"
                                  name="username"
                                  placeholder="Username"
                                  maxlength="50"
                                  value="{{username}}">
                        {% endif %}
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="col-xs-12">
                        {% if password_error == None %}
                           <input type="password"
                                  class="form-control form-body-text textbox-size"
                                  name="password"
                                  placeholder="Password"
                                  maxlength="20"
                                  value="{{password}}">
                        {% else %}
                           <div class="error-text">
                              {{password_error}}
                           </div>
                           <input type="password"
                                  class="form-control form-body-text textbox-size"
                                  name="password"
                                  placeholder="Password"
                                  maxlength="20"
                                  value="{{password}}">
                        {% endif %}
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="col-md-12">
                        <div class="checkbox">
                           <label class="form-text form-body-text">
                              <input type="checkbox" class="checkbox-size" name="rememberme" value="{{rememberme}}">
                              <div class="pad-left">
                                 Remember me
                              </div>
                           </label>
                        </div>
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="col-xs-12">
                        <input type="submit" class="btn btn-default btn-size form-body-text pull-right margin-form-submit"
                        value="Sign In">
                     </div>
                  </div>
               </form>
               <div class="form-text form-body-text margin-end">
                  Want to Collaborate?
                  <a href="/account/signup" class="form-link-text">Sign Up</a>...
               </div>
            </div>
         </div>
      </section>
   </body>
</html>
