<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Blog: Climate Change | Sign Up</title>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cuprum:700" type="text/css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700" type="text/css">
      <link rel="stylesheet" href="../css/bootstrap.min.css">
      <link rel="stylesheet" href="../css/style.css">
      <script type="text/javascript" src="../js/jquery-2.2.4.min.js"></script>
      <script type="text/javascript" src="../js/bootstrap.min.js"></script>
   </head>
   <body>
      <header class="container">
         <div class="row row-bg-color margin-start">
            <div class="col-md-12 header-text">
               My Blog
            </div>
         </div>
      </header>
      <section class="container">
         <div class="row">
            <div class="col-md-7 col-sm-12">
               <img src="../img/homepage_main-image.jpg"
                    alt="Image that shows that this blog is related to climate change"
                    class="img-responsive align-item item-htlimit"/>
            </div>
            <div class="col-md-4 col-md-offset-1 col-sm-12">
               <form class="form-horizontal" action="/" method="post">
                  <p class="margin-start form-text form-title-text">
                     Sign Up
                  </p>
                  <div class="form-group">
                     <div class="col-xs-12">
                        <input type="text"
                               class="form-control form-body-text margin-start-form textbox-size"
                               name="firstname"
                               placeholder="First Name"
                               maxlength="30"
                               value="{{firstname}}">
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="col-xs-12">
                        <input type="text"
                               class="form-control form-body-text textbox-size"
                               name="lastname"
                               placeholder="Last Name"
                               maxlength="30"
                               value="{{lastname}}">
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="col-xs-12">
                        <input type="text"
                               class="form-control form-body-text textbox-size"
                               name="emailaddr"
                               placeholder="Email Address"
                               maxlength="50"
                               value="{{emailaddr}}">
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="col-xs-12">
                        <input type="password"
                               class="form-control form-body-text textbox-size"
                               name="password"
                               placeholder="Password"
                               maxlength="20"
                               value="{{password}}">
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="col-xs-12">
                        <input type="password"
                               class="form-control form-body-text textbox-size"
                               name="cpassword"
                               placeholder="Confirm Password"
                               maxlength="20"
                               value="{{cpassword}}">
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="col-xs-6">
                        <a href="/" class="btn btn-default btn-size form-body-text margin-start-form margin-end">
                           Cancel
                        </a>
                     </div>
                     <div class="col-xs-6">
                        <input type="submit"
                               class="btn btn-default btn-size form-body-text pull-right margin-start-form margin-end"
                               value="Sign Up">
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </section>
   </body>
</html>
